/* LogoutButton.css */

.logout-button {
    padding: 15px 30px; /* Add desired padding */
    font-size: 1.2em; /* Increase the font size */
    cursor: pointer;
    background-color: #58a0ed; /* Set a background color */
    color: white; /* Set text color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .logout-button:hover {
    background-color: #007bff; /* Change color on hover */
    transform: scale(1.1); /* Slightly increase size on hover */
  }
  